#portfolio input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#portfolio .wizard {
  max-width: 620px;
  margin: 0 auto;
}
#portfolio .wizard__header {
  position: relative;
  color: #FFF;
  padding: 50px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  height: 150px;
  background: url("http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1444253482/DG2015-paris.jpg?itok=XH81cBH9");
  background-color: #4D637B;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#portfolio .wizard__header-content {
  position: absolute;
  width: 100%;
  padding: 0 50px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
#portfolio .wizard__header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(77, 99, 123, 0.6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#portfolio .wizard__title {
  font-size: 2.5 em;
  line-height: 2rem;
  margin: 0;
}
#portfolio .wizard__subheading {
  text-transform: uppercase;
  margin: 0;
  font-size: 1 em;
  font-weight: 100;
  letter-spacing: 2px;
}
#portfolio .wizard__subheading span {
  font-weight: 600;
}
#portfolio .wizard__steps {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(50%);
  z-index: 10;
}
#portfolio .wizard__footer {
  padding: 0 50px 50px;
  border-radius: 5px;
}
#portfolio .wizard__content {
  background: #FFF;
  box-shadow: 0px 0px 10px #c5c5c5;
  border-radius: 5px;
}
#portfolio .wizard__congrats-message {
  color: black;
  text-align: center;
  font-size: 3em;
  opacity: 0;
}
#portfolio .wizard.completed .wizard__content {
  animation: gettingOut 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}
#portfolio .wizard.completed .wizard__congrats-message {
  animation: fadeIn 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}

#portfolio .line {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: -1;
  height: 6px;
  transition: all 0.5s ease;
}
#portfolio .line.-start {
  left: 0%;
  background: #5094de;
  width: 50%;
}
#portfolio .line.-end {
  left: 50%;
  background: #5094de;
  width: 50%;
}
#portfolio .line.-background {
  background: #c3c3c3;
  width: 100%;
}
#portfolio .line.-progress {
  background: #5094de;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}
#portfolio .line.-in-progress {
  transform: scaleX(1);
}

#portfolio .panels {
  position: relative;
  overflow: hidden;
  min-height: 300px;
}

#portfolio .panel {
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s all;
  padding: 50px;
}
#portfolio .panel__header {
  margin-bottom: 30px;
}
#portfolio .panel__title {
  font-size: 1.5 em;
  line-height: 2rem;
  margin: 0;
}
#portfolio .panel__subheading {
  font-size: .9 em;
  line-height: 1.2rem;
  margin: 0;
}
#portfolio .panel.movingOutBackward {
  transform: translateX(-620px);
}
#portfolio .panel.movingOutFoward {
  transform: translateX(620px);
}
#portfolio .panel.movingIn {
  transform: translateX(0);
}

#portfolio .steps {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  color: #fff;
}

#portfolio .step {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}
#portfolio .step__content {
  position: relative;
  z-index: 2;
}
#portfolio .step__number {
  font-size: 1.3 em;
  color: #676767;
  background: #FFF;
  font-weight: 800;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #c3c3c3;
  transition: opacity .5s;
  opacity: 1;
  z-index: 5;
}
#portfolio .step.-completed .step__number {
  opacity: 0;
}
#portfolio .step.-completed .checkmark {
  z-index: 0;
  animation: fill .4s ease-in-out forwards,  scale .3s ease-in-out .6s both;
}
#portfolio .step.-completed .checkmark__check {
  animation: stroke .5s linear .4s forwards;
}
#portfolio .step.-completed .line {
  transform: scaleX(1);
}
#portfolio .step:last-child .line {
  width: 50%;
}

#portfolio .checkmark {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #75b2f5;
  z-index: -1;
}
#portfolio .checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 8;
  stroke-miterlimit: 10;
  stroke: #5094de;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
#portfolio .checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  stroke: #FFF;
  stroke-width: 5;
}

#portfolio .button {
  cursor: pointer;
  font-size: 1 em;
  line-height: 1rem;
  background: #5094de;
  color: #FFF;
  padding: 10px 15px;
  border: none;
  outline: none;
  display: inline-block;
  transition: all .3s;
}
#portfolio .button:hover {
  background: #7baee6;
}
#portfolio .button.previous {
  margin-right: 5px;
}
#portfolio .button.disabled {
  background: #c3c3c3;
  cursor: default;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  50% {
    transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
  }
  100% {
    transform: scale3d(0);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #75b2f5;
  }
}
@keyframes gettingOut {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}